.DS_Store

*.swp
*~

bin/
lib/


# Gradle
build
.gradle

# Eclipse
.project
.classpath
.settings
.metadata

# IntelliJ IDEA
*.iml
.idea

# Crash reports
*.log

# Database

DecoWorldDB/
decoworld.vanilla/resources/Thumbs.db
/bin
*.dat
*.ctrl


# Merge conflicts
*.orig


# Local sonar installations
sonar-project.properties
.sonar/

# Ignore embedded derby database
decoMineDB/

#logs
logs

/minesim/src/test/bad_settings.txt
# Binaries
*.class
.recommenders/
