@font-face {
    font-family: 'Super Retro M54';
    src: url('../Fonts/Super_Retro_M54.ttf');
}

.menuButtons{
    -fx-font-family: 'Super Retro M54';
    -fx-font-size: 29px;
    -fx-text-fill: black;
    -fx-font-weight: bold;
	-fx-background-radius: 10;
	-fx-border-width: 5;
	-fx-border-radius:10;
	-fx-background-color: transparent;
	-fx-pref-height: 78px;
    -fx-pref-width: 360px;   
}

.menuButtons:hover {
	-fx-effect: dropshadow(gaussian, white, 10, 0.1, 2, 2);
}

.authLabel {
    -fx-font-family: 'Super Retro M54';
    -fx-font-size: 29px;
    -fx-text-fill: black;
    -fx-padding: 0 2 0 5;
	-fx-visibility: visible;
}

.loginLabel {
    -fx-font-family: 'Super Retro M54';
    -fx-font-size: 29px;
    -fx-text-fill: lemonchiffon;
    -fx-visibility: visible;
    -fx-padding: 0 2 0 5;
}

.gameTitle {
	-fx-position: relative;
    -fx-font-family: 'Super Retro M54';
    -fx-font-size: 60px;
    -fx-text-fill: black;
    -fx-effect: dropshadow(gaussian, white, 10, 0.1, 2, 2);
}

.audioButtons:hover {
    -fx-effect: dropshadow(gaussian, white, 10, 0.1, 2, 2);
}

.settingMenu {
    -fx-font-family: 'Super Retro M54';
    -fx-font-size: 16px;
    -fx-text-fill: black;
	-fx-pref-height: 38px;
    -fx-pref-width: 160px; 
}

.settingMenu:hover {
    -fx-effect: dropshadow(gaussian, white, 10, 0.1, 2, 2);
    -fx-font-family: 'Super Retro M54';
    -fx-font-size: 16px;
    -fx-text-fill: black;
	-fx-pref-height: 38px;
    -fx-pref-width: 160px; 
}

.icons {
	-fx-effect: dropshadow(gaussian, white, 10, 0.1, 2, 2);
}

.actions {
    -fx-font-family: 'Super Retro M54';
    -fx-font-size: 16px;
    -fx-text-fill: lemonchiffon;
    -fx-text-align:left;
	-fx-pref-height: 38px;
	-fx-pref-width: 180px;
    -fx-background-color: linear-gradient(to bottom, darkslategray , gray);
    -fx-background-radius: 2;
	-fx-border-width: 3;
	-fx-border-color: linear-gradient(to top, darkslategray , gray);
	-fx-border-radius:2;
	-fx-position:relative; 
    -fx-z-index:1;
}

.actionHeader {
    -fx-font-family: 'Super Retro M54';
    -fx-font-size: 17px;
    -fx-text-fill: lemonchiffon;
	-fx-pref-height: 38px;
	-fx-pref-width: 110px;
}

.audioHeader {
    -fx-font-family: 'Super Retro M54';
    -fx-font-size: 17px;
    -fx-text-fill: lemonchiffon;
	-fx-pref-height: 38px;
	-fx-pref-width: 190px;
}

.controls {
    -fx-font-family: 'Super Retro M54';
    -fx-font-size: 12px;
    -fx-text-fill: black;
	-fx-pref-height: 38px;
    -fx-pref-width: 130px; 
}

.keyPad {
    -fx-font-family: 'Super Retro M54';
    -fx-font-size: 12px;
    -fx-text-fill: black;
    -fx-pref-height: 38px;
    -fx-pref-width: 100px; 
}


.mousePad {
    -fx-font-family: 'Super Retro M54';
    -fx-font-size: 12px;
    -fx-text-fill: lemonchiffon;
	-fx-pref-height: 38px;
    -fx-pref-width: 140px; 
    
    -fx-background-color: linear-gradient(to bottom, maroon , firebrick);
    -fx-background-radius: 2;
	-fx-border-width: 2;
	-fx-border-color: linear-gradient(to top, maroon , firebrick);
	-fx-border-radius:2;
}

#resolutionSelection {
    -fx-font-size: 16px;
    -fx-text-fill: black;
	-fx-pref-height: 38px;
    -fx-pref-width: 160px; 
}

#resolutionSelection:hover {
    -fx-effect: dropshadow(gaussian, white, 10, 0.1, 2, 2);
}

#settingsMenuVBox{
    -fx-background-image: url("settings_screen.png"); 
    -fx-background-size: 800 600;
    -fx-background-position: center center; 
}

#controlSettingsVBox{
    -fx-background-image: url("settings_screen.png"); 
    -fx-background-size: 800 600;
    -fx-background-position: center center; 
}

#audioSettingsVBox{
   -fx-background-image: url("settings_screen.png");
   -fx-background-position: center center; 
}

#splashScreen {
    -fx-background-image: url("splash_screen.png"); 
    -fx-background-size: 800 600;
    -fx-background-position: center center; 
}

#debugButton {
    -fx-font-family: 'Super Retro M54';
    -fx-font-size: 16px;
    -fx-text-fill: lemonchiffon;
}

#debugButton:hover {
    -fx-effect: dropshadow(gaussian, white, 10, 0.1, 2, 2);
}

#resolutionLabel {
    -fx-font-family: 'Super Retro M54';
    -fx-font-size: 16px;
    -fx-text-fill: lemonchiffon;
}

#loginVBox {
   -fx-background-image: url("settings_screen.png");
}

#errorLabel {
	visibility: invisible;
	-fx-padding: 8;
    -fx-text-fill: lemonchiffon;
    -fx-background-color: linear-gradient(to bottom, maroon , firebrick);
    -fx-background-radius: 2;
	-fx-border-width: 2;
	-fx-border-color: linear-gradient(to top, maroon , firebrick);
	-fx-border-radius:2;
}

