<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration PUBLIC "-//APACHE//DTD LOG4J 1.2//EN" "log4j.dtd">
<log4j:configuration xmlns:log4j='http://jakarta.apache.org/log4j/'>
    <appender class="org.apache.log4j.FileAppender" name="FileAppender">
    	<param name="file" value="logs/minesim.log"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param value="%d %-5p [%t] %C{2} (%F:%L) - %m%n" name="ConversionPattern" />
        </layout>
    </appender>
    <appender name="Console" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%c %m%n"/>
        </layout>
    </appender>
    <logger name="minesim.entities">
    	<level value="debug"/>
        <appender-ref ref="FileAppender"/>
    </logger>
    <root>
        <priority value="info"/>
        <appender-ref ref="Console"/>
    </root>
</log4j:configuration>