.left {
    -fx-background-image: url('../Icons/menuBackgroundTile_x60.png');
    -fx-border-color: black;
}

.top {
    -fx-background-image: url('../Icons/menuBackgroundTile_x60.png');
    -fx-border-color: black;
}

.left .gridPane {
    -fx-padding: 0 0 0 2;
}

.escape {
    -fx-background-image: url('../Icons/menuBackgroundTile_x60.png');
    -fx-border-color: black;
    -fx-border-width: 5,5;
}