#tabPane {
	-fx-background-image: url("../Icons/menuBackgroundTile_x60.png");
    -fx-border-color: black;
    -fx-effect:  innershadow(gaussian, rgba(0,0,0,0.5), 20,0.1,0,0);

}

.main {
	-fx-background-image: url("../Icons/menuBackgroundTile_x60.png");
}
